<!-- Email de Exclusão de Conta -->
    <p>Olá {{ user['nome'] }},</p>
    <p>Notamos que você solicitou a exclusão de sua conta ou não acessou sua conta nos últimos <strong>[x]</strong> dias. Gostaríamos de lembrar que sua conta será excluída em breve. Se isso foi um erro ou se você deseja continuar utilizando nosso serviço, basta clicar no link abaixo para confirmar que deseja manter sua conta ativa.</p>
    <p><a href="[Link de confirmação]">Confirmar manutenção da conta</a></p>
    <p>Se você tiver alguma dúvida ou desejar mais informações, nossa equipe de suporte está à disposição.</p>
    <p>Atenciosamente,</p>
    <p>Safebox</p>
