<!-- Email de Armazenamento Quase Cheio -->
    <p>Olá {{user['nome']}},</p>
    <p>Seu armazenamento está quase cheio! Você tem <strong>[{{ user['space'] }}]%</strong> do espaço disponível em sua conta. Para garantir que seus dados e arquivos não sejam interrompidos, recomendamos que você:</p>
    <ul>
        <li>Exclua ou mova alguns arquivos antigos para liberar espaço.</li>
        <li>Considere atualizar seu plano para obter mais armazenamento.</li>
    </ul>
    <p>Você pode verificar o uso do seu espaço e liberar armazenamento diretamente no painel da sua conta.</p>
    <p>Se precisar de ajuda, entre em contato com nosso suporte.</p>
    <p>Atenciosamente,</p>
    <p>[Nome da Empresa]</p>
