<!-- Email de Confirmação de Registro -->
    <p>Olá {{user['nome']}},</p>
    <p>Obrigado por se registrar na <strong>[Nome da Empresa]</strong>! Estamos empolgados em tê-lo(a) conosco.</p>
    <p>Para começar, basta confirmar seu e-mail clicando no link abaixo:</p>
    <p><a href="[Link de confirmação]">Confirmar e-mail</a></p>
    <p>Após a confirmação, você terá acesso completo à sua conta e poderá começar a explorar todos os recursos que oferecemos.</p>
    <p>Se tiver alguma dúvida, entre em contato com nosso suporte.</p>
    <p>Atenciosamente,</p>
    <p>[Nome da Empresa]</p>
